.gallery {
	list-style: none;
}

.gallery li {
	float: left;
	text-align: center;
	margin: 0 2em 0 0;
}

.gallery img {
	display: block;
	border: 2em solid #FFF;
}

ul.gallery a:after {
	content: attr(title);
	background-color: #FFF;
	display: block;
	margin: 0 0 2em 0;
	padding: 0 0 1.5em 0;
	font-family: 'Shadows Into Light', cursive;
	font-size: 2em;
	
}

.gallery a:link, .gallery a:hover, .gallery a:visited, .gallery a:link, .gallery a:focus {
	text-decoration: none;
}

ul.gallery li:nth-child(1n) {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
}

ul.gallery li:nth-child(2n) {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}

ul.gallery li:nth-child(3n) {
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}

ul.gallery li:nth-child(4n) {
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
}

ul.gallery li:hover {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	position: relative;
	z-index: 5;
}


