footer {
	height: 100px;
	background-color: #4C3327;
	padding: 2em 0 0 0;
}

#container {
	width: 1200px;
	min-height: 960px;
	margin: 0 auto;
}

#body-container {
	width: 80%;
	height: 660px;
	background-color: #F2EFE4;
	color: #000;
}

#header-container {
	border: 1px #4C3327 solid;
	min-height: 200px;
	background-color: #4C3327;
}

#navigation-container {
	width: 20%;
	min-height: 760px;
	background-color: #CB8C1D;
}

#menu-container {
	font-size: 2em;
}

.table-container {
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell-container {
	display: table-cell;
}

.margin-left {
	margin: 0 0 0 20px;
}

.label-container {
	width: 6em;
}

#home, #labs, #pres, #contact {
	padding: 0 0 0 26px;
}