/*
Background main: #F2EFE4
Background navigation, link hover, thead: #CB8C1D
Background header, footer, active menu item: #4C3327
Text color header, footer: #FFF
Text color main: #000
Menu background: #F2EFE4
*/

body {
	color: #FFF;
}

#container {
	width: 1200px;
	min-height: 960px;
	margin: 0 auto;
	border: 1px solid;
}

#header-container {
	border: 1px solid;
	min-height: 200px;
	background-color: #4C3327;
}

.table-container {
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell-container {
	display: table-cell;
}

#navigation-container {
	border: 1px solid;
	width: 20%;
	min-height: 760px;
	background-color: #CB8C1D;
}

#body-container {
	border: 1px solid #FFF;
	width: 80%;
	height: 660px;
	background-color: #F2EFE4;
	color: #000;
}

footer {
	border: 1px solid;
	height: 100px;
	background-color: #4C3327;
}

nav li {
	list-style: none;
	background-color: #F2EFE4;
}

nav li:hover {
	background-color: #4C3327;
}

.active {
	background-color: #4C3327;
}

a:link .active {
	color: #FFF;
}

a:hover .active {
	color: #FFF;
}

a:visited .active {
	color: #FFF;
}

a:active .active {
	color: #FFF;
}

#menu-container {
	width: 80%;
}

a:active {
	color: #000;
}

a:hover {
	color: #000;
	background-color: #CB8C1D;
}

a:visited {
	color: #000;
}

a:link {
	color: #000;
}

.margin-left {
	margin: 0 0 0 20px;
}

.logo-background {
	background-image: url('pics/logo.png');
	background-repeat: no-repeat;
	width: 62px;
	height: 35px;
}

.blog-logo-background {
	background-image: url('pics/blog-logo.png');
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
}

.left {
	float: left;
}

.right {
	float: right;
}

table, tr, td {
	border: 1px solid #000;
	border-collapse: collapse;
}

thead {
	background-color: #CB8C1D;
	color: #FFF;
}

tfoot {
	background-color: #B9C5D0;
}

tbody {
	background-color: #FFF;
}

.passed {
	background-color: #A4E670;
}
